body {
  border-top: 0.2em solid black;
  font-size: 1.1rem;
}
.about {
  padding: 0 1em 1em 1em;
}
a {
  text-decoration: none;
  color: #457B9D;
}
p {
  max-width: 700px;
}
a:hover {
  color: #E63946;
}
ul {
  padding-left: 1.7em;
}
ul li {
  line-height: 1.3em;
  margin-bottom: 0.2em;
}
h1 {
  margin-bottom: 0.5em;
}
h2 {
  margin-top: 0;
  font-size: 1.4em;
}
h3 {
  margin-top: 1.4em;
}