{{ define "main" }}

<section>
  {{ with .Site.GetPage "/about.md" }}
    {{ .Content }}
  {{ end }}

  <h3>{{ .Site.Params.projects }}</h3>
  <ul>
    <li>
      <a href="{{ .Site.Params.telebotUrl }}">
        {{ .Site.Params.telebot }}
      </a>
    </li>
    <li>
      <a href="{{ .Site.Params.mydiaryUrl }}">
        {{ .Site.Params.mydiary }}
      </a>
    </li>
    {{ if eq .Site.Params.showMotivationLink true }}
      <li>💀 <a href="http://go.manyahin.ru">Мотивация</a> <small>(внимание, ненормативная лексика)</small></li>
    {{ end }}
  </ul>

  <h3>{{ .Site.Params.links }}</h3>
  <p>
    <a target="_blank" rel="noopener" href="https://github.com/manyahin">GitHub</a> •
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/manyahin/">LinkedIn</a> •
    <a target="_blank" rel="noopener" href="https://instagram.com/manyahin/">Instagram</a> •
    <a target="_blank" rel="noopener" href="https://twitter.com/manyahin">Twitter</a>
  </p>

  <h3>{{ .Site.Params.contacts }}</h3>
  <ul>
    <li>Email <a href="mailto:i.manyhahin@gmail.com">i.manyahin@gmail.com</a></li>
    <li>Telegram <a target="_blank" rel="noopener" href="http://t.me/manyahin">@manyahin</a></li>
  </ul>

  
</section>

{{ end }}
